*{
  text-align: center;
}

.node{
  height:25px;
  width:25px;
  border:1px solid black;
}

.isStart{
  background-color: green;
}

.isEnd{
  background-color: red;
}

.isBlock{
  background-color: grey;
}

.node-visited{
  background-color: aqua;
}

.isShortestPath{
  background-color: yellow;
}